body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(238, 180, 93);
}



#wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "header header header"
                          "lside center rside"
                        "footer footer footer";

}

nav{
    grid-area: header;
}

nav a {
    display:block;
    padding: 8px 76.9px;
    background-color: #8ac093;
    color: rgb(56, 10, 109);
    text-decoration: none;
    font-family: fantasy;
    /* margin-right: 65px; */
    float: left;
    

}

nav a:hover {
    color:rgb(235, 26, 113);
    background-color: white;
    text-decoration: underline;

}


#lside{
    grid-area: rside;
    text-align: center;
    color:rgb(240, 100, 7);
    font-size: 20px;
    font-family: Arial;
    background-color: beige;
    padding-top: 15%;
}

#rside{
    grid-area: lside;
    text-align: center;
    color:rgb(240, 100, 7);
    font-size: 20px;
    font-family: Arial;
    background-color: beige;
    padding-top: 15%;
}

footer{
    grid-area: footer;
    background-color: rgb(172, 117, 223);
}

main{
    grid-area: center;
    margin-left: 5%;
    margin-right:5% ;
    margin-bottom: 5%;
}





.parent{
    background-color: rgb(9, 255, 177);
    padding: 15px;
    display: grid;
    /* grid-template-columns: 50px 50px; */
    grid-template-columns: 3fr 5fr 5fr 3fr;
    gap: 5px;
    column-gap:10px;
    row-gap: 10px;
}


.child{
    background-color: rgb(240, 43, 213);
}


.questions{
    color:rgb(11, 73, 35);
    font-family: Lucida Sans;

}