body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 189, 114);
}

nav {
    display: flex;
    background-color: rgb(106, 255, 255);
    justify-content:space-evenly;
}



nav a  {
    display: block;
    background-color: rgb(190, 240, 111);
    color: green;
    padding: 5px 10px;
}
nav a:hover{
    color: rgb(241, 63, 92);
    background-color: green;
}


/*.featured{
    order: -1;
} */


.parent{
    background-color: rgb(206, 206, 27);
    display: flex;
   /* flex-direction: row;  */
    /*flex-wrap: wrap; */
    flex-flow: row wrap;
    gap: 10px
}


.child{
    background-color: rgb(221, 202, 238);
    width: 100px;
    margin: 10px;
}